body{
  background-image: url("https://pikwizard.com/photos/e0a8bf2099861254af1dc34ac38f0934-m.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}

h3{
  color:whitesmoke;
  font-family: 'Courgette', cursive;
  text-decoration: underline;

}
ul>li{
  font-family: 'Courgette', cursive;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline; 
}


