{% extends 'base.html'%}
{% import 'macros.html' as macro %}
#{ %import'articles.html' as article% }

{% block content%}
<div class="container">
                <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"
		
        <h3 style="text-align: center" clas="color"> Top Business News Sources</h3>

        {{ macro.displaySourceList(sources)}}
        
        <h3 style="text-align: center" clas="color"> Top Technology News Sources</h3>

        {{ macro.displaySourceList(technology_sources)}}
       
        <h3 style="text-align: center" clas="color"> Top Entertainment News Sources</h3>

        {{ macro.displaySourceList(entertainment_sources)}}
            
        <h3 style="text-align: center" clas="color"> Top Sports News Sources</h3>

        {{ macro.displaySourceList(sports_sources)}} 
	
</div>

{%endblock%}